<h4>Credentials</h4>
<br />
<br />
<form action="/projects" method="post" enctype="multipart/form-data">
  <fieldset>
    <label for="name">Private token :</label>
    <input class="privateToken" type="text" id="tokenId" name="tokenId" placeholder="Enter your private token from GitLab repository"
    />
    <input type="submit" value="Submit private token" />
  </fieldset>
</form>