<ol class="breadcrumb">
  <li class="text-primary breadcrumb-item">Project name - {{installBuildsprojectName}}</li>
  <li class="text-primary breadcrumb-item">Branch name - {{installBuildsprojectBranchName}}</li>
  <li class="text-primary breadcrumb-item">Build name - {{installBuildsprojectBranchBuildName}}</li>
</ol>
<br />
{{{responseToDisplay}}}