<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RoCIiMD - {{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <!-- Chair for Open Distributed Systems -->
    <img align="right" src="/images/ODS_logo.png" width="90" style="margin-left: 2%; margin-right: 2%;">
    <!-- Technische Universität Berlin -->
    <img align="right" src="/images/tu_logo.png" width="100">
    <h3>Implentation and integration of GitLab API with adbkit library</h3>
    <p>This projet website is created part of the master thesis "Review on CI in Mobile Development" (RoCIiMD)</p>
    <strong>Supervisor:</strong> André Paul
    <br />
    <strong>Student:</strong> Akarsh Seggemu
    <br />
    <br /> in cooperation with
    <br />
    <!-- Fraunhofer-Institut für Offene Kommunikationssysteme (FOKUS) -->
    <img src="http://localhost:1185/images/FF_logo.png" width="140" alt="Logo of FOKUS">
  </div>
  <br />
  <div class="container">
    <div class="jumbotron">
      {{{body}}}
      <br />
    </div>
  </div>
  <div class="container">
    <!-- Footer -->
    <div id="footer">
      <p>Copyright © 2017. Made with &hearts; by
        <a href="https://akarsh.github.io/" target="_blank">Akarsh Seggemu</a>.</p>
    </div>
  </div>
</body>

</html>