<ol class="breadcrumb">
  <li class="text-primary breadcrumb-item">Project name - {{traceBuildsprojectName}}</li>
  <li class="text-primary breadcrumb-item">Branch name - {{traceBuildsprojectBranchName}}</li>
  <li class="text-primary breadcrumb-item">Build name - {{traceBuildsprojectBranchBuildName}}</li>
</ol>
<br />
<h3>Stack trace</h3>
<div class="text-white bg-dark">
    {{responseInHtml}}
</div>