body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.text-white {
   color: #fff !important;
}

.bg-dark {
  background-color: #343a40 !important;
}